.item{
    font-size: 2.5em;
    font-weight: 100;
    color: white;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.avatar{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
  }
  
  .ava img{
    width: 45px;
    border-radius: 100px;
  }
  
  .ava{
    margin-left: 10px;
  }
  
  .names{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
  }
  
  .name{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 0.8em;
  }